*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: white;
}

header{
    height: 90px;
    background-color: #22b3c1;
    position: fixed;
    width: 100%;
}

.background-inicial{
    background-image: url("img/Screenshot_2022-07-22-14-37-14-892_com.supercell.clashofclans.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center bottom;
    background-attachment: fixed;
}

.inner-width{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.logo{
    float: left;
    padding: 20px 0;
}

.logo img{
    height: 50px;
}

.navigation-menu{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
}

.navigation-menu a{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 15px;
    border-radius: 4px;
    transition: 0.3s linear;
}

.navigation-menu a:hover{
    background-color: #fff;
    color: #2f3640;
    transform: scale(1.1);
}

.navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
}

.menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
}

@media screen and (max-width:1250px) {
    .menu-toggle-btn{
        display: block !important;
    }

    .navigation-menu{
        position: fixed;
        width: 100%;
        max-width: 400px;
        background: #172b4d;
        top: 90px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
    }

    .navigation-menu::before{
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #172b4d;
        position: absolute;
        top: -10px;
        right: 10px;
    }

    .navigation-menu a{
        display: block;
        margin: 10px 0;
    }

    .navigation-menu.active{
        display: block;
    }
}